#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sound-container {
  width: 900px; 
  height: 300px; 
  justify-content: center; /* Center grid items if there's extra space in the row */
}

/* Add this to your global.css or a component-specific CSS file */
.iframe-container {
  overflow: hidden;
/*  padding-top: 50%; /* 16:9 Aspect Ratio */
  width: 900px; 
  height: 300px; 
  position: relative;
}

.iframe-container iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 10px; /* Space between grid items */
  justify-content: center; /* Center grid items if there's extra space in the row */
}
