#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #000;
}

.sound-container {
  width: 900px; 
  height: 300px; 
  justify-content: center; /* Center grid items if there's extra space in the row */
}

/* Add this to your global.css or a component-specific CSS file */
.iframe-container {
  overflow: hidden;
/*  padding-top: 50%; /* 16:9 Aspect Ratio */
  width: 900px; 
  height: 300px; 
  position: relative;
  margin: 0 auto;
}

.iframe-container iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Space between grid items */
  justify-content: center; /* Center grid items if there's extra space in the row */
}


.fixed-grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.image-container {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Align images vertically in the middle */
  height: 60px; /* Desired fixed height for both images */
  width: 100%; /* Make images fill the container width */
}

.image-container img {
  height: 100%; /* Make images fill the container height */
  width: auto; /* Allow images to adjust their width */
  object-fit: scale-down; /* Scale down to fit without losing aspect ratio */
  padding-left: 40px;
  padding-right: 40px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* Adjust to 2 columns when the screen width is 600px or less 
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sound-container {
    width: 90%; 
    height: 200px; 
  }
}

/* Adjust to 1 column when the screen width is 400px or less 
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}*/