#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #000;
}


.sound-container {
  max-width: 900px; 
  width: 100%;
  height: 300px; 
  justify-content: center; /* Center grid items if there's extra space in the row */
}

/* Add this to your global.css or a component-specific CSS file */
.iframe-container {
  overflow: hidden;
/*  padding-top: 50%; /* 16:9 Aspect Ratio */
  max-width: 900px;   
  width: 100%; 
  height: 300px; 
  position: relative;
  margin: 0 auto;
}

.iframe-container iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Space between grid items */
  justify-content: center; /* Center grid items if there's extra space in the row */
}


.fixed-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fixed-grid-item {
  flex: 1 0 20%; /* This means the items will grow and shrink as needed, and the base width is 20% */
  margin: 10px; /* Add some margin around items if you want */
}

.image-container {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Align images vertically in the middle */
  height: 60px; /* Desired fixed height for both images */
  width: 100%; /* Make images fill the container width */
}

.image-container img {
  height: 100%; /* Make images fill the container height */
  width: auto; /* Allow images to adjust their width */
  object-fit: scale-down; /* Scale down to fit without losing aspect ratio */
  padding-left: 40px;
  padding-right: 40px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

@media (max-width: 1230px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 830px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media (max-width: 580px) {
  .sound-container {
    width: 90%; 
    height: 200px; 
  }
  .iframe-container {
    width: 90%; 
    height: 200px; 
  }

  .fixed-grid-container {
    grid-template-columns: repeat(5, 1fr);
  }  
  
  .fixed-grid-item {
    flex: 1 0 40%; /* On smaller screens, the base width is 40% */
    margin: 10px;
  }
}