.song-main-container {  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 30px 0;
    backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, 0.2);
    overflow: hidden; /* Added */
    padding: 20px;
    border-radius: 8px;
  }

  
  .futuretape-container {
    overflow: hidden;
    width: 200px; 
    height: 230px; 
  }

  .futuretape-container iframe {
    border: 1px solid var(--primaryColor);
    width: 200px; 
    height: 230px; 
  }

  .labels-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1fr, 2); 
    gap: 5px; 
    justify-content: start; 
  }

  .labels-container h1 {
    text-align: 'left';
  }

  @media (max-width: 580px) {
    .song-main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
    }
  }